In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

from sklearn.preprocessing import MinMaxScaler, LabelEncoder

warnings.filterwarnings('ignore')

# Extracting, Transforming, Loading

## Extracting

In [3]:
df_pembayaran=pd.read_csv('tbl_pembayaran_piutang_2022_2023.csv', error_bad_lines=False, delimiter=';')
df_penjualan=pd.read_csv('tbl_penjualan_2022_2023.csv', error_bad_lines=False, delimiter=';')
df_piutang=pd.read_csv('tbl_piutang_2022_2023.csv', error_bad_lines=False, delimiter=';')

In [4]:
df_pembayaran

,pembayaran,transaksi,tanggal_byr,customer,bayar,potongan
0,032851/BP/22,307280-JL0122,01/10/22 17:06,PL0601 PATABA,84000.0,",00"
1,032851/BP/22,307301-JL0122,01/10/22 17:06,PL0601 PATABA,2500.0,",00"
2,032852/BP/22,307349-JL0122,01/10/22 17:06,PL0416 ALTERNATIF,70000.0,",00"
3,032853/BP/22,307159-JL0122,01/10/22 17:07,PL0672 JM PRINTING,10000.0,",00"
4,032854/BP/22,307223-JL0122,01/10/22 17:07,PL0671 MECCA PRINTING,100000.0,",00"
...,...,...,...,...,...,...
26728,039822/BP/23,385779-JL0923,09/07/23 20:55,PL0760 ONLINE_WA,32000.0,",00"
26729,039822/BP/23,385676-JL0923,09/07/23 20:55,PL0760 ONLINE_WA,9000.0,",00"
26730,039823/BP/23,385760-JL0923,09/07/23 20:55,UM UMUM,225000.0,",00"
26731,039824/BP/23,385769-JL0923,09/07/23 20:56,PL0615 BHIONK ADVERTISING,15000.0,",00"
26732,039824/BP/23,385763-JL0923,09/07/23 20:56,PL0615 BHIONK ADVERTISING,44000.0,",00"

## Transforming

## Loading

# Exploratory Data Analyst

# Preprocessing

# Modeling

# Evaluating